body {
    background-image: url('./assets/background.jpg');  
    background-repeat: no-repeat;
    background-size: 100% 150%; 
    background-attachment: fixed;
    background-color: #e5c8ff; 
}

/* .App {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.App > div {
    position: absolute;
    top: 0;
} */

.sticky-pharm {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
}
.sticky-pharm-sidebar {
    position: fixed;
    z-index: 2;
}
.pharm-name:hover {
    color: purple;
}

.sidebar-items:hover {
    background-color: rgb(255, 247, 254);
}
.org-login:hover {
  color: purple;
}

.icon-top:hover {
    color: purple;
    height: 25px;
    width: 25px;
}
.favicon:hover {
    color : purple;
}

.app-name{
    display: flex;
    align-items: center;
    transition: background-position 275ms ease;
}

.app-name:hover {
    background-position: 0 100%;
}
.app-name-second {
    color: rgb(143, 212, 39);
}

.super-title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subscribe-screen {
    margin-top: 15vh;
    display: flex;
    gap : 50px;
    align-items : center;
    justify-content : center;
}

.subs-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.subs-card {
    min-height: 550px;
    background-color : white;
    height : 60vh;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
}

.subscribe-screen .subs-card form {
    justify-content: center;
    margin: auto;
    text-align: center;
    margin: 25px;
}

.subscribe-screen .subs-card button {
    border-radius: 5px;
    background-color: purple;
    color: white;
    border: none;
    width: 100%;
    height: 40px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
}

.subscribe-screen .subs-card ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subscribe-screen .subs-card ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
}

.subscribe-screen .subs-card .price-tag {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subscribe-screen .subs-card .price-tag .rate {
    text-decoration: line-through;
}

.subscribe-screen .subs-card p {
    color : rgb(134, 134, 134);
}


/* material ui cell wrap property */
.MuiDataGrid-root .MuiDataGrid-cell {
    white-space: normal !important;
    word-wrap: break-word !important;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .MuiDataGrid-root .MuiDataGrid-cell:hover {
    color: red;
  }

  .two-factor-authenticate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
  }